@charset "UTF-8";


.panel {
	display: flex;
	justify-content: space-between;
	background-color: black;
}

#logout-btn:hover {
	background: red;
	color: black;
}

#home-btn:hover {
	background: green;
	color: black;
}

#course-reg-btn:hover {
	background: yellow;
	color: black;
}

#teach-reg-btn:hover {
	background: yellow;
	color: black;
}

#subject-reg-btn:hover {
	background: yellow;
	color: black;
}

.error {
	color: red;
}

.success {
	position: relative;
	left: 15%;
	color: #0BDA17;
	font-size: large;	
}

