@charset "UTF-8";


*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#ret_to_login {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
}

#student_avatar {
	max-width: 100px;
}